---
layout: default
---

<div id="title">
	<div id="header_image"><a href="{{ site.github.owner_url }}"><img src="/assets/images/header.png" alt=""/></a></div>
  {% if page.site_header %}
  <h1>{{ site.title | default: site.github.repository_name }}</h1>
  <p>{{ site.description | default: site.github.project_tagline }}</p>
  {% endif %}
</div>

{{ content }}

<div id="title">
  <hr>
  <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
  <span class="credits right">Hosted on GitHub Pages &mdash; <a href="https://github.com/pages-themes/midnight">Midnight Theme</a></span>
</div>
